/* Estilos generales */
form {
    padding: 0.5vw 1vw;
    font-size: 1vw;
    width: 40vw;
    border: 3px solid #ec6b06; 
    color: black;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin: 70px calc(25% + 100px) 30px; 
    padding-top: 28px;
    background-color: aliceblue;
}

h1{
    text-align: center;
}

input[type="text"],
input[type="password"] {
    font-size: 1.3vw;
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

input[type="submit"] {
    padding: 0.5vw 1vw;
    font-size: 1.3vw;
    width: 15vw;
    background-color: #ec6b06;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    margin: 0px 20px;
}

@media (max-width: 650px) {
    form {
        font-size: 4vw;
        width: 80%;
        margin: 20px auto;
        padding: 5vw;
        margin-top: 25%;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 4vw; 
        width: 90%;
        padding: 10px;
    }

    input[type="submit"] {
        font-size: 4vw; 
        width: 70%; 
        padding: 10px;
        margin: 10px auto;
        display: block; 
        
    }
}
