

main {
  overflow-x: hidden;
}



.carousel-inner img{
  width:200px;
  height: 300px;
}


  #der{
    float: right;
  }

  #izq{
    float: left;
  }

  main {
    margin-top: 20px;
    min-height: calc(100vh);
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    background-color: seashell;
}



.icon-button,
.mas,
.menos{
    background: none;
    border: none;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    cursor: pointer;
}
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .list-container img{
      width: 100%;
      height: 230px;
      max-width: 400px;

  }

  .list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 80vw; 
    overflow: hidden;
    transition: all 300ms;
  }

  .list-container  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }

  .lislider {
      position: relative;
  display: inline-block;
    width: 15.66%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .lislider.visible {
    opacity: 1;
  }

  .lislider.slide-in-right {
    transform: translateX(10%);
  }

  .lislider.slide-in-left {
    transform: translateX(-10%);
  }

  .botonquieto {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #menos {
    margin-right: 10px;
  }

  #mas {
    margin-left: 10px;
  }
  .hover-fondo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lislider:hover .hover-fondo {
opacity: 1;
}
.hover-fondo a{
  text-decoration :none;
  color:white;
}

h2 {
  font-family: 'Arial', sans-serif; 
  color: #333;
  font-size: 2em; 
  margin-bottom: 20px;
  position: relative; 
  padding: 10px 0; 
  text-align: center; 
}
h2:hover{
  color:orange;
}

.swiper {
  max-width: 1000px;
    height: 280px;
    border: 1px solid black;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:orangered;
  }

  .swiper-slide .imagenportada {
    display: block;
    width: 100%;
    height: 100%;
    object-position: 20%;
  }
  .swiper-slide .librodestacado {
      width: 20%;
      max-height: 700px;
  }
.text-overlay {
position: absolute;
top: 50%;
left: 80%;
transform: translate(-50%, -50%);
color: white;
font-size: 24px;
font-weight: bold;
background-color: orange;
padding: 10px;
border-radius: 5px;
}
.text-overlay2 {
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 24px;
font-weight: bold;
background-color: orange;
padding: 10px;
border-radius: 5px;
}
.text-overlay3 {
position: absolute;
top: 20%; 
left: 10%; 
color: white;
font-size: 18px;
font-weight: bold;
background-color: orange;
padding: 5px 10px; 
border-radius: 5px;
}

.text-overlay4 {
position: absolute;
top: 20%;
right: 10%; 
color: white;
font-size: 18px;
font-weight: bold;
background-color: orange;
padding: 5px 10px; 
border-radius: 5px;
}

.vertodo {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.vertodo:hover {
  background-color: darkorange;
}


.vertodo:active {
  background-color: orangered;
}

@media (max-width: 768px) {
  .text-overlay2 ,.text-overlay{
  font-size: 14px; 
}
.text-overlay3 {
  top: 0; 
  left: 0px; 
  font-size: 12px; 
}

.text-overlay4 {
  top: 0;
  right: 0; 
  font-size: 12px; 
}
.swiper {
    height: 20vh;
  }

}


@media (max-width: 480px) {


.lislider{
  width: 45%;
  
}

}

@media (min-width:481px) and (max-width: 630px) {


.lislider{
  width: 30.3333333%;
  
}
}
@media (min-width:631px) and (max-width: 1035px) {


      .lislider{
          width: 23%;
          
      }
  }


@media (max-width:710px){
    .info{
        width: 200px;
        height: 40px;
        font-size: 4vw;
    }

}
