body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: 1.3vw;
    background-color: aliceblue;
}
#general{
  display: flex;
}
a{
  text-decoration: none;
}

#der {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
#menulateralB{
  background-color: #7a7a7a;
  width: 5%;
  height: 100vh;
  position: fixed;
  display: '';
  overflow-y: auto; 
}
#menulateralA{
  background-color: #7a7a7a;
  width: 10%;
  height: 100vh;
  position: fixed;
  display: none;
  overflow-y: auto;
}#menulateralA img{
  cursor: pointer;
}#menulateralA img:hover,
#menulateralA a:hover,
#menulateralB img:hover,
#menulateralB a:hover
{
  background-color:aqua ;
}

#submenuUsuario{
  display: none;
}
#submenuLibro{
  display: none;
}
#submenuAutor{
  display: none;
}
#submenuConsulta{
  display: none;
}
#menulateralA a,
#menulateralB a {
text-decoration: none;
display: block;
color: black;
}
img{
  vertical-align: middle;
}
#pulsarautor span,
#pulsarlibro span,
#pulsarconsulta span,
#pulsarusuario span{
  margin-left: 10px;
}
#formularioLARGO {
  padding: 0.5vw 1vw;
  font-size: 1vw;
  width: 70vw;
  border: 3px solid #ec6b06; 
  color: black;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
  margin-bottom: 3vw;
  margin-TOP: 3vw;
  background-color: aliceblue;
  }
.contenedorformLARGO{
  margin: 30px;
}
.rowLARGO{
  display: flex;
  margin-bottom: 0.5vw;
}
.inputLARGO{
  width: 50%;
}
h1{
  text-align: center;
}

#formularioLARGO label {
    display: block;
    margin-bottom: 5px;
  }
  #formularioLARGO  input[type="text"],
  #formularioLARGO  input[type="number"],
  #formularioLARGO  select
{
    font-size: 1.3vw;
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
  }

  #formularioLARGO  textarea {
    box-sizing: border-box;
    max-width: 100%;
    width: calc(100% - 1.1vw);
    height: 20vh;
    resize: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3vw;
   }

   #formularioCORTO  {
    padding: 0.5vw 1vw;
    font-size: 1vw;
    width: 40vw;
    border: 3px solid #ec6b06; 
    color: black;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    margin-top: 10vw;
    padding-top: 28px;
    background-color: aliceblue;
}

h1{
    text-align: center;
}
#formularioCORTO input[type="text"],
#formularioCORTO input[type="password"],
#formularioCORTO input[type="number"]
{
  font-size: 1.3vw;
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

#formularioCORTO input[type="submit"],
#formularioLARGO input[type="submit"] {
    padding: 0.5vw 1vw;
    font-size: 1.3vw;
    width: 15vw;
    background-color: #ec6b06;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
        margin: 0px 20px;
}
#formularioCORTO textarea {
  box-sizing: border-box;
  max-width: 100%;
  width: calc(100% - 1.1vw);
  height: 20vh;
  resize: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.3vw;
 }
